/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5em;
  background: #efefef;
  border: none;
  border-radius: 3px;
  padding: 1em 2em 1em 1em;
  font-size: 1em;
}

.language,
.select-container {
  position: relative;
}

.language:after,
.language:before {
  content: "";
  width: 8px;
  height: 2;
  position: absolute;
  pointer-events: none;
  background-color: white;
  border-top: 2px solid white;
  top: 45%;
}

.select-container:after,
.select-container:before {
  content: "";
  width: 8px;
  height: 2;
  position: absolute;
  pointer-events: none;
  border-top: 2px solid black;
  top: 46%;
}

.language:after,
.select-container:after {
  right: 17px;
  transform: rotate(45deg);
}

.language:before,
.select-container:before {
  right: 12px;
  transform: rotate(-45deg);
}

select::-ms-expand {
  display: none;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  width: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
* {
  box-sizing: border-box;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

p {
  line-height: 25px;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 16px;
  height: 16px;
  background-color: #e5001b;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 12px;
  height: 12px;
  margin: -3px 0 0 -2px;
}
#fp-nav ul li a span:hover,
.fp-slidesNav ul li a span:hover {
  width: 16px;
  height: 16px;
  margin: -6px 0 0 -4px;
}

.slick-dots li.slick-active button:before {
  font-size: 20px;
  color: #e5001b;
}

.slick-dots li button:before {
  font-size: 16px;
  color: #333;
  opacity: 1;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.slick-dots li:hover button:before {
  font-size: 20px;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
a,
a:visited {
  text-decoration: none;
}

@media print {
  *,
*::before,
*::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: none;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
ul {
  list-style-type: none;
  padding-left: 0;
}

select {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 10px;
  display: block;
}

.fullpage {
  width: 100%;
  overflow-x: hidden;
}

.section-title {
  color: #102436;
  font-weight: 500;
  position: relative;
  z-index: 40;
}
.section-title span {
  width: 30px;
  height: 2px;
  background-color: #a22031;
  display: inline-block;
  position: relative;
  top: -5px;
  margin-left: 10px;
  margin-right: 10px;
}

.center {
  text-align: center;
}

#fp-nav ul,
.fp-slidesNav ul {
  text-align: center;
}

.fp-slidesNav.fp-bottom {
  bottom: 100px;
}

#language-select {
  background-color: #e5001b;
  border: 0;
  border-right: 10px solid #e5001b;
  color: white;
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #e5001b !important;
}

.btn {
  background-color: #e5001b;
  padding: 0.5rem 1rem;
  color: white;
  border: 0;
  display: inline-block;
  margin-top: 20px;
  min-width: 130px;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
.btn:hover {
  background-color: #d00019;
}
.btn.plus:hover .icon-plus {
  transform: rotate(90deg);
}

.icon-plus {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 18px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  transition: 0.25s ease-in-out;
}
.icon-plus::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
}
.icon-plus::after {
  content: "";
  width: 2px;
  height: 16px;
  background-color: white;
  display: block;
  position: absolute;
  left: 7px;
  top: 0;
}

.icon-forward {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 7px;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  transition: 0.25s ease-in-out;
}
.icon-forward::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  left: 12px;
  top: 2px;
  transform: rotate(45deg);
}
.icon-forward::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  left: 12px;
  top: 8px;
  transform: rotate(135deg);
}
.icon-forward i {
  width: 20px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 5px;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-row .col {
  margin-bottom: 1rem;
}

.form-group textarea {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  box-sizing: border-box;
}

input,
textarea {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

video {
  /* override other styles to make responsive */
  width: 100% !important;
  height: auto !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  padding: 20px;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 999;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), black);
}
.header-container .logo {
  padding: 15px 10px 5px 10px;
  width: 150px;
}
.header-container .logo img {
  width: 100%;
}
.header-container ul li {
  display: inline-block;
  cursor: pointer;
}
.header-container ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  transition: 0.25s linear;
  display: block;
  cursor: pointer;
}
.header-container ul li a:hover {
  color: #e5001b;
}
.header-container .language {
  width: 120px;
  display: inline-block;
  margin-right: 15px;
}
.header-container .language select {
  margin-bottom: 0;
  font-size: 14px;
}
.header-container .menu-icon {
  display: inline-block;
  position: relative;
  top: 12px;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}
.header-container .menu-icon.turn {
  transform: rotate(-90deg);
}
.header-container .menu-icon span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  margin: 4px;
}
.header-container .menu-icon div {
  margin: 0;
  padding: 0;
}
.header-container.solid {
  background-color: black;
  height: auto;
}
.header-container.solid .wrapper {
  padding: 10px 20px;
}

.sec-cggirl {
  background: url(../img/cg-bg.png);
  width: 100%;
  z-index: 40;
  padding: 6rem 0;
  margin-top: -16px;
}
.sec-cggirl .btn {
  z-index: 10;
  position: relative;
}
.sec-cggirl .btn:hover .icon-forward {
  left: 12px;
}
.sec-cggirl .sakura {
  background: url(../img/cg-branch.png) no-repeat;
  width: 450px;
  height: 248px;
  background-size: cover;
  position: absolute;
  top: 30px;
  z-index: 1;
}
.sec-cggirl .border {
  background: url(../img/cg-border.png) no-repeat;
  width: 100%;
  height: 130px;
  background-size: cover;
  position: absolute;
  top: -120px;
  pointer-events: none;
}
.sec-cggirl .dye {
  background: url(../img/cg-dye.png) no-repeat;
  width: 100%;
  height: 700px;
  background-size: cover;
  position: absolute;
  opacity: 0.7;
  top: 30px;
  z-index: 0;
}
.sec-cggirl .rockl {
  background: url(../img/cg-treel.png) no-repeat;
  width: 275px;
  height: 569px;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.sec-cggirl .rockr {
  background: url(../img/cg-treer.png) no-repeat;
  width: 320px;
  height: 441px;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.sec-cggirl .title {
  width: 450px;
  z-index: 10;
  margin: auto;
  opacity: 0;
}
.sec-cggirl .title.visible {
  opacity: 1;
  animation: fadeInUp;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s;
  /* don't forget to set a duration! */
}
.sec-cggirl .girl-header {
  background: url(../img/cg-title.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 195px;
  position: relative;
  z-index: 40;
}
.sec-cggirl .girls {
  position: relative;
  z-index: 6;
}
.sec-cggirl .girls .girl-info {
  opacity: 0;
}
.sec-cggirl .girls.visible .girl-info:nth-child(1) {
  animation: fadeInUp;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s;
  /* don't forget to set a duration! */
  transition-delay: 0.5s;
}
.sec-cggirl .girls.visible .girl-info:nth-child(2) {
  animation: fadeInUp;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s;
  /* don't forget to set a duration! */
  animation-delay: 0.1s;
  transition-delay: 0.5s;
}
.sec-cggirl .girls.visible .girl-info:nth-child(3) {
  animation: fadeInUp;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s;
  /* don't forget to set a duration! */
  transition-delay: 0.5s;
  animation-delay: 0.2s;
}
.sec-cggirl .girls.visible .girl-info:nth-child(4) {
  animation: fadeInUp;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s;
  /* don't forget to set a duration! */
  animation-delay: 0.3s;
  transition-delay: 0.5s;
}
.sec-cggirl .girls.visible .girl-info {
  opacity: 1;
}
.sec-cggirl .girls .thumbnail {
  padding: 10px 10px 0 10px;
}
.sec-cggirl .girls .thumbnail img {
  width: 100%;
}
.sec-cggirl .girls p {
  text-align: center;
  font-size: 20px;
  margin: 0;
}
.sec-cggirl .girls p span {
  display: block;
  font-size: 14px;
}

.sec-about {
  width: 100%;
}
.sec-about .cloud-bg {
  background: url(../img/intro_cloud.png) no-repeat;
  width: 100%;
  height: 800px;
  background-size: cover;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
}
.sec-about .intro-bg {
  background: url(../img/intro_sun.png) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: 1;
}
.sec-about .boy {
  background: url(../img/boy-mountain.png) no-repeat;
  width: 900px;
  height: 700px;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  left: 15%;
  z-index: 3;
}
.sec-about .boyside {
  background: url(../img/mountain-side.png) no-repeat;
  width: 537px;
  height: 515px;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 2;
}
.sec-about .mountain-left {
  background: url(../img/intro_ml.png) no-repeat;
  width: 630px;
  height: 390px;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 5;
}
.sec-about .mountain-right {
  background: url(../img/intro_mr.png) no-repeat;
  width: 537px;
  height: 300px;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 5;
}
.sec-about .about-quote {
  background: url(../img/about-title.png) no-repeat;
  width: 420px;
  height: 120px;
  background-size: contain;
}
.sec-about .intro {
  float: right;
  position: relative;
  z-index: 99;
  width: 400px;
  right: 12%;
  padding-top: 10%;
  opacity: 0;
}
.sec-about .intro p {
  line-height: 28px;
}

.sec-news {
  margin-top: -50px;
  z-index: 30;
  background: url(../img/charity-base.png);
  background-size: cover;
}
.sec-news .intro {
  margin-bottom: 100px;
  background-color: #e5001b;
  max-width: 350px;
  padding: 1.5rem;
  color: white;
}
.sec-news .intro h2 {
  margin-top: 0;
  margin-bottom: 0px;
}
.sec-news .fp-tableCell {
  vertical-align: bottom;
}

.news-img-web {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}
.news-img-web img {
  width: 100%;
}

.sec-contact {
  background-color: #530c0c;
  z-index: 50;
  padding: 5rem 0 1rem 0;
}
.sec-contact .intro {
  color: white;
  position: relative;
  z-index: 30;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
  opacity: 0;
  max-height: 300px;
}
.sec-contact .intro p {
  padding-right: 2rem;
}
.sec-contact .form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
}
.sec-contact .form-col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
  padding-left: 4rem;
}
.sec-contact .form-container {
  width: 100%;
  background-color: white;
  background-image: url(../img/form-bg.png);
  background-size: cover;
  padding: 10px;
}
.sec-contact .form-container form {
  padding: 35px;
}
.sec-contact .form-container .border {
  position: relative;
  z-index: 99;
  border: 2px solid #a60a19;
}
.sec-contact .form-container .corner {
  width: 27px;
  height: 27px;
  position: absolute;
  display: block;
  z-index: 15;
}
.sec-contact .form-container .corner.tl {
  background: url(../img/images/bordertl.png) no-repeat;
  top: -2px;
  left: -2px;
}
.sec-contact .form-container .corner.tr {
  background: url(../img/images/border-tr.png) no-repeat;
  top: -2px;
  right: -2px;
}
.sec-contact .form-container .corner.bl {
  background: url(../img/images/border-bl.png) no-repeat;
  bottom: -2px;
  left: -2px;
}
.sec-contact .form-container .corner.br {
  background: url(../img/images/border-br.png) no-repeat;
  bottom: -2px;
  right: -2px;
}
.sec-contact .contact-title {
  width: 280px;
  height: 141px;
  background: url(../img/contact-title.png) no-repeat;
  top: 0;
  background-size: contain;
  left: 0;
}
.sec-contact .brush {
  background-image: url(../img/contact-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: 1;
  top: -80px;
  left: 0;
}

.footer {
  background-color: black;
}
.footer .footer-top {
  padding: 10px 15px;
  border-bottom: 1px solid #3e3e3e;
}
.footer .footer-bottom {
  padding: 0px 15px;
}
.footer .footer-bottom p,
.footer .footer-bottom a {
  color: white;
  padding: 15px;
  font-size: 13px;
  align-self: center !important;
}
.footer nav ul li {
  display: inline-block;
  margin-right: 80px;
}
.footer nav ul li a {
  color: white;
  font-size: 14px;
  padding: 15px;
}
.footer .social-icon {
  padding: 15px;
}
.footer .social-icon div {
  width: 20px;
  height: 20px;
  background-size: contain;
  display: inline-block;
  margin-left: 15px;
  background-repeat: no-repeat;
}
.footer .social-icon .fb {
  background-image: url(../img/icon-fb.png);
}
.footer .social-icon .ig {
  background-image: url(../img/icon-ig.png);
}

.section {
  position: relative;
  width: 100%;
}
.section.sec-about {
  min-height: 800px;
  width: 100%;
  overflow: hidden;
}
.section.sec-news {
  width: 100%;
  height: 52%;
}
.section.sec-news .slick-dots {
  bottom: 65px;
}
.section.sec-news .slide {
  position: relative;
}
.section.sec-news .intro {
  position: absolute;
  bottom: 100px;
  width: 1200px;
  margin-left: -600px;
  left: 50%;
  z-index: 50;
}
.section.sec-news img {
  width: 100%;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.mr-auto {
  margin-right: auto !important;
}

#video-mobile {
  display: none;
}

#video-desktop {
  display: block;
}

.clouds {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}
.clouds.cloud img.cloud1 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 10s linear infinite;
}
.clouds.cloud img.cloud2 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 40s linear infinite;
}
.clouds.cloud img.cloud3 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 15s linear infinite;
}
.clouds.cloud img.cloud4 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 32s linear infinite;
}
.clouds.cloud img.cloud5 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 20s linear infinite;
}

.clouds2 {
  position: absolute;
  opacity: 0.8;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 6;
}
.clouds2.cloud img.cloud1 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 45s linear infinite;
}
.clouds2.cloud img.cloud2 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 22s linear infinite;
}
.clouds2.cloud img.cloud4 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 20s linear infinite;
}
.clouds2.cloud img.cloud5 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate 30s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.header-mobile {
  display: none;
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), black);
}
.header-mobile.solid {
  background-color: black;
  height: 60px;
  padding: 12px;
}
.header-mobile .logo {
  width: 100px;
}
.header-mobile .logo img {
  width: 100%;
}
.header-mobile .menu-icon {
  position: relative;
  top: 0px;
  right: 5px;
}
.header-mobile .menu-icon span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  margin: 0px 3px 0px 3px;
}
.header-mobile .menu-icon div {
  margin: -5px;
  padding: 0;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 25px;
  }

  .sec-cggirl {
    padding-top: 0;
  }
  .sec-cggirl .sakura {
    left: -15%;
  }

  .sec-about .boy {
    left: -15%;
  }

  .section.sec-news .intro {
    left: 0;
    bottom: 10px;
    margin-left: 30px;
  }

  #video-mobile {
    display: block;
  }

  #video-desktop {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .header-container {
    display: none;
  }
}
@media only screen and (max-width: 1024px) and (min-height: 1000px) and (max-height: 1024px) {
  .sec-about {
    height: 800px;
  }
  .sec-about.inner {
    height: auto;
  }
  .sec-about .intro {
    width: 600px;
  }
  .sec-about .boy {
    left: -15%;
    bottom: -40%;
  }

  .sec-news {
    margin-top: -80px;
  }

  .section.sec-video .cloud-border {
    bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer .footer-top .d-flex {
    display: block !important;
  }
  .footer .footer-top .d-flex .social-icon {
    width: 125px;
    margin: auto;
  }
  .footer .footer-top .d-flex ul li {
    margin-right: 0;
  }
  .footer .footer-top .d-flex ul li a {
    padding: 10px;
  }
  .footer .footer-bottom a,
.footer .footer-bottom p {
    padding: 5px;
  }

  #section0 .fp-tableCell {
    vertical-align: top;
  }

  .btn-right {
    text-align: right;
  }
  .btn-right .btn {
    margin-top: 10px;
  }

  .sec-about .fp-tableCell {
    vertical-align: top;
  }
  .sec-about .intro {
    margin-top: 100px;
    width: 100%;
    float: none;
    right: 0;
  }
  .sec-about .intro p {
    font-size: 14px;
    line-height: 23px;
  }
  .sec-about .mountain-left {
    width: 315px;
    height: 190px;
  }
  .sec-about .mountain-right {
    width: 270px;
    height: 150px;
  }
  .sec-about .intro-bg {
    height: 60vh;
    top: 40%;
  }
  .sec-about .boy {
    left: -20%;
    bottom: -15%;
    width: 120%;
    height: 60vh;
  }
  .sec-about .about-quote {
    width: 230px;
    height: 90px;
    margin-top: 10px;
    background-size: contain;
  }

  .sec-cggirl .container {
    padding: 0px;
  }
  .sec-cggirl .title {
    width: 300px;
    height: 140px;
  }
  .sec-cggirl .sakura {
    left: -70%;
    top: 95px;
  }
  .sec-cggirl .rockl,
.sec-cggirl .rockr {
    display: none;
  }

  .sec-contact .brush {
    background-image: url(../img/contact-bg.png);
    height: 60vh;
    top: -15px;
  }
  .sec-contact .intro {
    width: 100%;
  }
  .sec-contact .intro .contact-title {
    width: 200px;
    margin: auto;
    background-size: contain;
    height: 80px;
  }
  .sec-contact .form-container {
    width: 100%;
    float: none;
    margin-bottom: 100px;
  }
  .sec-contact .form-container form {
    padding: 35px 20px;
  }
  .sec-contact .form-container .form-row {
    display: block;
  }
}
.sec-about .gradient-white {
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  position: absolute;
  display: block;
  background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));
  z-index: 10;
}
.sec-about .about {
  margin-top: 80px;
  min-height: 760px;
  position: relative;
  overflow: hidden;
}
.sec-about .about .test {
  background: url(../img/about-web.jpg);
  width: 100%;
  z-index: 0;
  height: 800px;
  position: absolute;
  background-size: cover;
}
.sec-about .about .mountain-left {
  bottom: 90px;
}
.sec-about .about .cloud-bg {
  top: 0;
  height: 100vh;
}
.sec-about .about .mountain-right {
  background: url(../img/about-tr.png) no-repeat;
  bottom: 80px;
  width: 300px;
}
.sec-about .about .intro-bg {
  height: 100vh;
  top: -50px;
}
.sec-about .about .boy {
  bottom: -80px;
  left: 10%;
}
.sec-about .services {
  position: relative;
  margin-bottom: 100px;
  background: url(../img/horse.png) no-repeat 80% 30%;
  background-size: 40%;
}
.sec-about .services .about-cloud {
  width: 100%;
  height: 600px;
  background: url(../img/about-cloud.png) no-repeat;
  background-size: cover;
  top: -350px;
  z-index: 10;
  position: absolute;
}
.sec-about .services .service-description {
  padding-top: 180px;
}
.sec-about .services .category {
  opacity: 0;
  width: 19.7%;
  display: inline-block;
  vertical-align: top;
  padding: 2.5rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(166, 174, 176, 0.2);
  -moz-box-shadow: 0px 0px 16px 0px rgba(166, 174, 176, 0.2);
  box-shadow: 0px 0px 16px 0px rgba(166, 174, 176, 0.2);
}
.sec-about .services .category.visible {
  animation: fadeInUp;
  animation-duration: 1s;
  opacity: 1;
}
.sec-about .services .category.visible:nth-child(2) {
  animation-delay: 0.15s;
  transition-delay: 0.15s;
}
.sec-about .services .category.visible:nth-child(3) {
  animation-delay: 0.3s;
  transition-delay: 0.3s;
}
.sec-about .services .category.visible:nth-child(4) {
  animation-delay: 0.45s;
  transition-delay: 0.45s;
}
.sec-about .services .category.visible:nth-child(5) {
  animation-delay: 0.6s;
  transition-delay: 0.6s;
}
.sec-about .info {
  z-index: 10;
  position: relative;
  max-width: 450px;
  font-size: 16px;
  margin-bottom: 3rem;
  opacity: 0;
}
.sec-about .info.visible {
  opacity: 1;
  animation: fadeInUp;
  animation-duration: 1s;
}
.sec-about .info.r {
  float: right;
  margin: 140px 100px;
}
.sec-about .locations {
  position: relative;
  background-image: url(../img/beige-bg.jpg);
  background-size: 80%;
}
.sec-about .locations .title {
  margin: auto;
  margin-bottom: 3rem;
}
.sec-about .locations .info {
  margin: auto;
}
.sec-about .locations .info.visible {
  opacity: 1;
}
.sec-about .locations .location-border {
  width: 100%;
  height: 100px;
  background: url(../img/about-edge.png) no-repeat;
  background-size: cover;
  top: -50px;
  z-index: 10;
  position: relative;
}
.sec-about .locations .map {
  width: 100%;
  background: url(../img/map.png) no-repeat;
  background-size: cover;
  height: 660px;
  position: relative;
}
.sec-about .locations .map .show.locator:after {
  height: 150px;
  top: -70px;
  width: 4px;
}
.sec-about .locations .map .show.locator .name {
  top: -70px;
}
.sec-about .locations .map .show.locator .num {
  display: none;
}
.sec-about .locations .map .locator {
  cursor: pointer;
  position: absolute;
}
.sec-about .locations .map .locator:after {
  content: "";
  width: 4px;
  height: 100px;
  position: relative;
  background-color: #e5001b;
  display: block;
  left: 18px;
  top: -50px;
}
.sec-about .locations .map .locator .num {
  background-color: #e5001b;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display: block;
  color: white;
  font-weight: 600;
  padding-top: 7px;
  opacity: 1;
}
.sec-about .locations .map .locator .name {
  position: relative;
  left: -14px;
  top: -40px;
  z-index: 1;
  color: white;
  height: 49px;
  width: 70px;
  text-align: center;
  font-size: 15px;
  padding: 4px;
  border-radius: 5px;
  display: block;
  background-color: #e5001b;
  transition-delay: 0.2s;
  transition: ease-in 0.25s;
  opacity: 0;
}
.sec-about .locations .map .locator .name img {
  width: 100%;
}
.sec-about .locations .map .locator.show .name {
  opacity: 1;
}
.sec-about .locations .map #country1 {
  left: 315px;
  top: 250px;
}
.sec-about .locations .map #country2 {
  left: 536px;
  top: 75px;
}
.sec-about .locations .map #country3 {
  left: 655px;
  top: 145px;
}
.sec-about .locations .map #country4 {
  left: 798px;
  top: 223px;
}
.sec-about .locations .map #country5 {
  left: 850px;
  top: 63px;
}
.sec-about .locations .map #country6 {
  left: 872px;
  top: 227px;
}
.sec-about .locations .map #country7 {
  left: 895px;
  top: 240px;
}
.sec-about .locations .map #country8 {
  left: 946px;
  top: 200px;
}
.sec-about .locations .map #country9 {
  left: 956px;
  top: 254px;
}
.sec-about .locations .map #country10 {
  left: 1012px;
  top: 130px;
}
.sec-about .locations .countries {
  position: absolute;
  bottom: 30px;
  left: 0;
}
.sec-about .locations .countries li {
  margin: 0.7rem 0;
  cursor: pointer;
}
.sec-about .locations .countries li a {
  padding: 0.25rem;
}
.sec-about .locations .countries li a:hover {
  background-color: white;
  padding: 0.325rem 0.5rem;
}
.sec-about .locations .countries li.active {
  margin: 1rem 0;
}
.sec-about .locations .countries li.active a {
  color: white;
  background-color: #e5001b;
  padding: 0.325rem 0.5rem;
}
.sec-about .locations .countries li.active a span {
  background-color: white;
}
.sec-about .locations .countries li span {
  width: 10px;
  height: 1px;
  background-color: black;
  display: inline-block;
  margin: 0 3px;
}
.sec-about .title {
  margin-bottom: 1.5rem;
  width: 200px;
}
.sec-about .title img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .sec-about .info {
    margin-bottom: 1rem;
  }
  .sec-about .info p {
    font-size: 14px;
    line-height: 23px;
  }
  .sec-about .info .title {
    width: 140px !important;
  }
  .sec-about .locations .title {
    margin-bottom: 0rem;
  }
  .sec-about .locations .countries {
    width: 100%;
    padding: 0px;
    position: relative;
    top: -130px;
  }
  .sec-about .locations .countries li {
    display: inline-block;
    width: 32%;
  }
  .sec-about .locations .countries li a {
    font-size: 15px;
  }
  .sec-about .locations .map {
    background-size: contain;
    width: 470px;
    margin-left: -29%;
    height: 400px;
  }
  .sec-about .locations .map .locator {
    opacity: 0;
  }
  .sec-about .locations .map .locator:after {
    height: 40px;
  }
  .sec-about .locations .map .locator.show:after {
    height: 80px;
    top: -40px;
  }
  .sec-about .locations .map .locator.show .name {
    top: -30px;
  }
  .sec-about .locations .map .locator .num {
    display: none;
  }
  .sec-about .locations .map .locator .name {
    position: relative;
    left: -10px;
    top: -20px;
    font-size: 13px;
    width: 60px;
    height: 43px;
    -webkit-transition: width 1s, height 1s, margin 1s;
    -moz-transition: width 1s, height 1s, margin 1s;
    -ms-transition: width 1s, height 1s, margin 1s;
    transition: width 1s, height 1s, margin 1s;
    display: block;
  }
  .sec-about .locations .map .locator.show {
    opacity: 1;
  }
  .sec-about .locations .map #country1 {
    left: 111px;
    top: 68px;
  }
  .sec-about .locations .map #country3 {
    left: 244px;
    top: 28px;
  }
  .sec-about .locations .map #country2 {
    left: 198px;
    top: 3px;
  }
  .sec-about .locations .map #country4 {
    left: 301px;
    top: 58px;
  }
  .sec-about .locations .map #country5 {
    left: 321px;
    top: -3px;
  }
  .sec-about .locations .map #country6 {
    left: 330px;
    top: 61px;
  }
  .sec-about .locations .map #country7 {
    left: 338px;
    top: 65px;
  }
  .sec-about .locations .map #country8 {
    left: 358px;
    top: 50px;
  }
  .sec-about .locations .map #country9 {
    left: 362px;
    top: 71px;
  }
  .sec-about .locations .map #country10 {
    left: 385px;
    top: 23px;
  }
  .sec-about .about {
    min-height: 660px;
  }
  .sec-about .about .mountain-left {
    bottom: 0;
  }
  .sec-about .about .mountain-right {
    bottom: 20px;
    width: 200px;
  }
  .sec-about .about .intro-bg {
    top: auto;
    bottom: 0 !important;
    height: 50vh;
  }
  .sec-about .about .gradient-white {
    height: 120px;
  }
  .sec-about .about .boy {
    top: 350px;
    left: -50px;
  }
  .sec-about .info {
    width: 100%;
  }
  .sec-about .info.r {
    float: none;
    margin: 0px;
  }
  .sec-about .services {
    background: url(../img/horse.png) no-repeat -140% 60%;
    background-size: 120%;
  }
  .sec-about .services .service-categories .category {
    width: 49.1%;
    padding: 20px 0;
  }
  .sec-about .services .service-categories .category:first-child {
    margin-right: 40%;
  }
  .sec-about .services .service-categories .category img {
    width: 60px;
  }
  .sec-about .services .service-categories {
    margin-top: 200px;
  }
  .sec-about .services .service-description {
    padding-top: 40px;
  }
  .sec-about .services .about-cloud {
    height: 600px;
    background-size: contain;
    top: -80px;
  }
}
.sec-charity {
  background: url(../img/bg1.jpg) repeat;
  background-size: 30%;
}
.sec-charity .news-intro {
  min-height: 600px;
  background: url(../img/news-bg-r.png) no-repeat top right;
  background-size: contain;
  margin-top: 82px;
}
.sec-charity .news-intro .title {
  animation: fadeInUp;
  animation-duration: 0.5s;
}
.sec-charity .news-intro .info {
  padding-top: 5rem;
  animation: fadeInUp;
  animation-duration: 0.75s;
}
.sec-charity .col-md-4 {
  padding: 10px;
  margin-bottom: 20px;
}
.sec-charity .col-md-4 .article {
  background-color: #a60a19;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(166, 174, 176, 0.3);
  -moz-box-shadow: 0px 0px 16px 0px rgba(166, 174, 176, 0.3);
  box-shadow: 0px 0px 16px 0px rgba(166, 174, 176, 0.3);
  padding-bottom: 1.5rem;
  transition: all 0.5s linear;
  cursor: pointer;
}
.sec-charity .col-md-4 .article:hover {
  background-color: black;
}
.sec-charity .col-md-4 p {
  padding: 0 1rem;
  color: white;
  margin: 0.25rem;
}
.sec-charity .col-md-4 .charity-img {
  top: -13px;
  position: relative;
  width: 100%;
}
.sec-charity .col-md-4 .charity-img img {
  width: 100%;
}
.sec-charity .info {
  width: 450px;
}
.sec-charity .tabs {
  width: 1200px;
  margin: auto;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}
.sec-charity .tabs li {
  width: 200px;
  text-align: center;
  display: inline-block;
  padding: 0.75rem;
  cursor: pointer;
  transition: all 0.5s ease-in-outs;
}
.sec-charity .tabs li:hover {
  color: #c00c1d;
}
.sec-charity .tabs li.active {
  color: #c00c1d;
  border-bottom: 2px solid #c00c1d;
}
.sec-charity .news-list {
  margin-top: -150px;
  padding-bottom: 3rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row .col-md-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

@media only screen and (max-width: 1200px) {
  .sec-charity .tabs {
    background-color: white;
    width: 100%;
  }
  .sec-charity .tabs li {
    width: 49%;
  }
}
@media only screen and (max-width: 768px) {
  .sec-contact {
    padding: 2rem 0;
  }
  .sec-contact .intro,
.sec-contact .form-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .sec-contact .intro p,
.sec-contact .form-col p {
    padding: 0;
  }

  .sec-charity .news-intro {
    margin-top: 60px;
    background-position: bottom right;
  }
  .sec-charity .news-intro .info {
    width: 100%;
    padding-top: 1rem;
  }
  .sec-charity .news-intro .info .title {
    width: 140px !important;
  }
  .sec-charity .news-intro .info .title img {
    width: 100%;
  }
  .sec-charity .news-list {
    background-color: white;
  }

  .row .col-sm-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 420px) {
  .row .col-sm-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
#fullpage3 {
  background: url(../img/bg1.jpg) repeat;
  background-size: 30%;
}

.sec-milestone #animatedHeading {
  opacity: 0;
  transition: 1s ease-in;
}
.sec-milestone #animatedHeading.show {
  opacity: 1;
}
.sec-milestone .padding {
  height: 82px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.sec-milestone .padding:after {
  content: "";
  width: 1px;
  height: 1500px;
  background-color: black;
  position: absolute;
  display: block;
  left: 10px;
  top: 0px;
}
.sec-milestone .kv {
  width: 1125px;
  height: 681px;
  position: absolute;
  right: -200px;
  top: -20px;
  overflow: hidden;
}
.sec-milestone .kv div {
  width: 100%;
  height: 100%;
}
.sec-milestone .kv img {
  width: 100%;
  display: block;
  height: auto;
  transition: 5s linear;
}
.sec-milestone .kv .img-mask {
  -webkit-mask-image: url(../img/milestone-mask.png);
  mask-image: url(../img/milestone-mask.jpg);
  -webkit-mask-size: 1125px 682px;
  mask-size: 1125px 682px;
  overflow: hidden;
}
.sec-milestone .kv .slick-current img {
  width: 110%;
}
.sec-milestone p {
  padding: 0.25rem;
  max-width: 340px;
  line-height: 22px;
  margin: 0;
  font-size: 15px;
  opacity: 0;
}
.sec-milestone .slick-dupe {
  position: relative !important;
  padding: 0 2rem;
}
.sec-milestone .slick-dupe .year-title {
  width: 120px;
  padding: 0.325rem 0;
}
.sec-milestone .slick-dupe .year-title img {
  width: 100%;
}
.sec-milestone .slick-dupe .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #b00015;
  display: block;
  position: absolute;
  left: 3px;
  top: 43px;
  border: 2px solid white;
}
.sec-milestone .hero__title .slick-current.slick-slide > .year-title {
  width: 180px;
  transition: width ease-out 0.5s;
}
.sec-milestone .hero__title .slick-current.slick-slide > p {
  opacity: 1;
  transition: opacity ease-out 0.5s;
  margin-bottom: 5rem;
}
.sec-milestone .hero__title .slick-current.slick-slide > .dot {
  width: 21px;
  height: 21px;
  border: 3px solid white;
  left: 0px;
  transition: ease-out 0.5s;
}

.mobile-img,
.slick-vertical .slick-slide.mobile-img {
  display: none;
}

.slick-prev,
.slick-next {
  display: none;
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
  /* Equal to rotateZ(45deg) */
}
.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: grey;
}

.slick-prev {
  top: 90%;
  left: 250px;
}

.slick-next {
  top: 3%;
  left: 250px;
}

@media only screen and (max-width: 960px) {
  .sec-milestone #animatedHeading {
    opacity: 1;
  }

  .slick-dupe {
    clear: both;
  }

  .mobile-img,
.slick-vertical .slick-slide.mobile-img {
    display: block;
    z-index: 10;
    position: relative;
  }
  .mobile-img.first, .mobile-img.third,
.slick-vertical .slick-slide.mobile-img.first,
.slick-vertical .slick-slide.mobile-img.third {
    float: left;
    margin-left: -60px;
  }
  .mobile-img.second,
.slick-vertical .slick-slide.mobile-img.second {
    float: right;
    margin-right: -60px;
  }

  .sec-milestone .hero__title {
    position: relative;
  }
  .sec-milestone .hero__title:after {
    content: "";
    width: 1px;
    height: 1650px;
    background-color: black;
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    z-index: 0;
  }
  .sec-milestone .slick-dupe {
    margin-bottom: 1rem;
    z-index: 10;
  }
  .sec-milestone .slick-dupe .dot {
    top: 7px;
  }
  .sec-milestone .padding {
    height: 60px;
  }
  .sec-milestone .padding:after {
    display: none;
  }
  .sec-milestone .hero__title-misc {
    color: #b00015;
  }
  .sec-milestone p {
    opacity: 1;
    max-width: 100%;
  }
  .sec-milestone .kv {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .sec-milestone .hero__title {
    position: relative;
  }
  .sec-milestone .hero__title:after {
    height: 1670px;
  }
}
@media only screen and (max-width: 620px) {
  .sec-milestone .hero__title {
    position: relative;
  }
  .sec-milestone .hero__title:after {
    height: 1730px;
  }
}
@media only screen and (max-width: 580px) {
  .sec-milestone .hero__title {
    position: relative;
  }
  .sec-milestone .hero__title:after {
    height: 1780px;
  }
}
@media only screen and (max-width: 470px) {
  .sec-milestone .hero__title {
    position: relative;
  }
  .sec-milestone .hero__title:after {
    height: 1870px;
  }
}
@media only screen and (max-width: 414px) {
  .sec-milestone .hero__title {
    position: relative;
  }
  .sec-milestone .hero__title:after {
    height: 1900px;
  }
}
@media only screen and (max-width: 375px) {
  .sec-milestone .hero__title {
    position: relative;
  }
  .sec-milestone .hero__title:after {
    height: 1970px;
  }
}
@media only screen and (max-width: 360px) {
  .sec-milestone .hero__title {
    position: relative;
  }
  .sec-milestone .hero__title:after {
    height: 2020px;
  }
}
@media only screen and (max-width: 320px) {
  .sec-milestone .hero__title {
    position: relative;
  }
  .sec-milestone .hero__title:after {
    height: 2100px;
  }
}
#fullpage5 {
  padding-top: 80px;
}
#fullpage5 .form-container {
  margin-top: 1rem;
}
#fullpage5 .sec-contact {
  background-color: white;
  padding-bottom: 5rem;
  min-height: 85vh;
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
}
#fullpage5 .sec-contact .intro {
  padding-top: 4rem;
  animation: fadeInUp;
  animation-duration: 0.75s;
}
#fullpage5 .sec-contact p {
  color: black !important;
}

@media only screen and (max-width: 768px) {
  #fullpage5 {
    padding-top: 0;
  }
  #fullpage5 .sec-contact .intro .title {
    width: 140px !important;
  }
  #fullpage5 .sec-contact .intro .title img {
    width: 100%;
  }
}
.full-menu {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
  padding: 30px 20px;
}
.full-menu .logo {
  float: left;
  width: 150px;
  padding: 5px 10px;
}
.full-menu .logo img {
  width: 100%;
}
.full-menu .btn-close {
  float: right;
}
.full-menu .menu-top {
  clear: both;
  min-height: 100px;
}
.full-menu .social-icon {
  padding: 5px;
}
.full-menu .social-icon div {
  width: 20px;
  height: 20px;
  background-size: contain;
  display: inline-block;
  margin-right: 15px;
  background-repeat: no-repeat;
}
.full-menu .social-icon .fb {
  background-image: url(../img/icon-fb.png);
}
.full-menu .social-icon .ig {
  background-image: url(../img/icon-ig.png);
}
.full-menu .menu-wrapper {
  width: 90%;
  height: 70vh;
  margin: auto;
  position: relative;
  border: 1px solid #ffee9d;
  padding: 6px;
}
.full-menu .menu-wrapper:after {
  width: 80%;
  height: 100vh;
  background-color: black;
  transition: 0.7s ease-in;
  content: "";
  display: block;
  position: absolute;
  left: 10%;
  top: -50px;
}
.full-menu .menu-wrapper:before {
  width: 110%;
  height: 40vh;
  background-color: black;
  transition: 0.6s ease-in;
  content: "";
  display: block;
  position: absolute;
  left: -5%;
  top: 20%;
}
.full-menu .menu-wrapper.show:after {
  width: 0;
  left: 50%;
}
.full-menu .menu-wrapper.show:before {
  height: 0;
  top: 50%;
}
.full-menu .menu-wrapper .inner-border {
  border: 1px solid #ffee9d;
  width: 100%;
  height: 100%;
}
.full-menu .menu-wrapper .menu-content {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 6% 15%;
  z-index: 1000;
}
.full-menu .menu-wrapper .menu-content .main-menu,
.full-menu .menu-wrapper .menu-content .side-menu {
  display: inline-block;
  vertical-align: top;
}
.full-menu .menu-wrapper .menu-content .main-menu {
  width: 60%;
  padding-left: 11%;
  border-right: 1px solid #363636;
}
.full-menu .menu-wrapper .menu-content .main-menu li a {
  font-size: 30px;
  color: white;
}
.full-menu .menu-wrapper .menu-content .main-menu li {
  margin-bottom: 50px;
  opacity: 0;
}
.full-menu .menu-wrapper .menu-content .main-menu li.animate {
  animation: fadeInUp;
  animation-duration: 1s;
}
.full-menu .menu-wrapper .menu-content .main-menu li.animate:nth-child(1) {
  animation-delay: 0.25s;
  opacity: 1;
  transition-delay: 1s;
}
.full-menu .menu-wrapper .menu-content .main-menu li.animate:nth-child(2) {
  animation-delay: 0.5s;
  opacity: 1;
  transition-delay: 1s;
}
.full-menu .menu-wrapper .menu-content .main-menu li.animate:nth-child(3) {
  animation-delay: 0.75s;
  opacity: 1;
  transition-delay: 1s;
}
.full-menu .menu-wrapper .menu-content .main-menu li.animate:nth-child(4) {
  animation-delay: 1s;
  opacity: 1;
  transition-delay: 1s;
}
.full-menu .menu-wrapper .menu-content .side-menu {
  width: 39%;
  padding-left: 12%;
}
.full-menu .menu-wrapper .menu-content .side-menu li {
  margin-bottom: 40px;
  opacity: 0;
  transition: 0.7s ease-in;
}
.full-menu .menu-wrapper .menu-content .side-menu li.animate:nth-child(1) {
  transition-delay: 0.75s;
  opacity: 1;
}
.full-menu .menu-wrapper .menu-content .side-menu li.animate:nth-child(2) {
  transition-delay: 1s;
  opacity: 1;
}
.full-menu .menu-wrapper .menu-content .side-menu li.animate:nth-child(3) {
  transition-delay: 1.25s;
  opacity: 1;
}
.full-menu .menu-wrapper .menu-content .side-menu span {
  display: block;
  margin-bottom: 15px;
  color: #cfcfcf;
}
.full-menu .menu-wrapper .menu-content .side-menu a {
  font-size: 26px;
}
.full-menu .menu-wrapper .menu-corner {
  width: 83px;
  height: 70px;
  position: absolute;
  display: block;
  z-index: 1000;
}
.full-menu .menu-wrapper .menu-corner.tl {
  background: url(../img/menu-corner-large-tl.png);
  top: -1px;
  left: -1px;
  background-color: black;
}
.full-menu .menu-wrapper .menu-corner.tr {
  background: url(../img/menu-corner-large-tr.png);
  top: -1px;
  right: -1px;
  background-color: black;
}
.full-menu .menu-wrapper .menu-corner.bl {
  background: url(../img/menu-corner-large-bl.png);
  bottom: -1px;
  left: -1px;
  background-color: black;
}
.full-menu .menu-wrapper .menu-corner.br {
  background: url(../img/menu-corner-large-br.png);
  bottom: -1px;
  right: -1px;
  background-color: black;
}
.full-menu.show {
  display: block;
  opacity: 1;
  transition: 5s linear;
}

.btn-close {
  width: 35px;
  height: 35px;
  position: relative;
  top: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.btn-close.turn {
  transform: rotate(-45deg);
}
.btn-close:before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 15px;
}
.btn-close:after {
  content: "";
  width: 32px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .milestone-mobile-top {
    width: 100%;
    height: 300px;
    background: url(../img/milstone-img.png) no-repeat;
    background-size: cover;
    display: block;
  }

  .full-menu {
    padding: 1rem;
    background-color: black;
  }
  .full-menu .menu-top {
    min-height: 50px;
  }
  .full-menu .menu-top .logo {
    width: 100px;
  }
  .full-menu .menu-top .logo img {
    width: 100%;
  }
  .full-menu .menu-wrapper {
    min-height: 82vh;
    padding: 2px;
  }
  .full-menu .menu-wrapper .menu-corner {
    width: 41px;
    height: 36px;
    position: absolute;
    display: block;
    z-index: 1000;
  }
  .full-menu .menu-wrapper .menu-corner.tl {
    background: url(../img/menu-corner-small-tl.png);
    top: -1px;
    left: -1px;
    background-color: black;
  }
  .full-menu .menu-wrapper .menu-corner.tr {
    background: url(../img/menu-corner-small-tr.png);
    top: -1px;
    right: -1px;
    background-color: black;
  }
  .full-menu .menu-wrapper .menu-corner.bl {
    background: url(../img/menu-corner-small-bl.png);
    bottom: -1px;
    left: -1px;
    background-color: black;
  }
  .full-menu .menu-wrapper .menu-corner.br {
    background: url(../img/menu-corner-small-br.png);
    bottom: -1px;
    right: -1px;
    background-color: black;
  }
  .full-menu .menu-wrapper .menu-content {
    padding: 5% 10%;
  }
  .full-menu .menu-wrapper .menu-content .main-menu {
    display: block;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #8d8d8d;
    padding: 0;
  }
  .full-menu .menu-wrapper .menu-content .main-menu li {
    margin-bottom: 4vh;
  }
  .full-menu .menu-wrapper .menu-content .main-menu li a {
    font-size: 18px;
    width: 100%;
    display: block;
    text-align: center;
  }
  .full-menu .menu-wrapper .menu-content .side-menu {
    display: block;
    width: 100%;
    padding: 0;
  }
  .full-menu .menu-wrapper .menu-content .side-menu .social-icon {
    width: 85px;
    margin: auto;
  }
  .full-menu .menu-wrapper .menu-content .side-menu li {
    margin-bottom: 3vh;
  }
  .full-menu .menu-wrapper .menu-content .side-menu li .language {
    max-width: 170px;
    margin: auto;
  }
  .full-menu .menu-wrapper .menu-content .side-menu span {
    width: 100%;
    text-align: center;
  }
  .full-menu .menu-wrapper .menu-content .side-menu a {
    font-size: 18px;
    width: 100%;
    display: block;
    text-align: center;
  }
}
.slick-slide {
  outline: none;
}

.cloud-border {
  width: 100%;
  height: 250px;
  background: url(../img/cloud-border.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .section.sec-news .intro {
    width: 70%;
    left: 25px;
    margin-left: 0;
    bottom: 20px;
    padding: 1rem;
  }
  .section.sec-news .intro p {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
  .section.sec-news .intro h2 {
    font-size: 20px;
  }
  .section.sec-news .slick-dots {
    bottom: 65px;
  }
  .section.sec-video .cloud-border {
    bottom: -60px;
    height: 180px;
  }
  .section.sec-about {
    min-height: 650px;
    margin-top: -20px;
  }
  .section.sec-about .intro {
    margin-top: 1rem;
    padding-top: 0;
  }
  .section.sec-cggirl {
    padding-top: 2rem;
  }
  .section.sec-cggirl .border {
    top: -64px;
  }
  .section.sec-cggirl .girls {
    margin-top: 2rem;
  }
}
.intro.visible {
  animation: fadeInUp;
  animation-duration: 1s;
  transition-delay: 0.5s;
  opacity: 1;
}

@media only screen and (max-width: 350px) {
  .full-menu .menu-wrapper .menu-content .side-menu li:nth-child(2),
.full-menu .menu-wrapper .menu-content .side-menu li:nth-child(3) {
    display: inline-block;
    margin-top: 10px;
  }
  .full-menu .menu-wrapper .menu-content .side-menu li:nth-child(3) {
    margin-left: 2%;
  }
}
#encima {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-mask: url(https://i.imgur.com/AYJuRke.png);
  /*-webkit-mask: url(https://veuwer.com/i/3fxb.png);*/
  -webkit-mask-size: 3000% 100%;
  -webkit-animation: mask-playzero 2s steps(29);
  animation-delay: 0.7s;
}
#encima img {
  width: 100% !important;
}

@-webkit-keyframes mask-playzero {
  from {
    -webkit-mask-position: 0 0;
    -ms-mask-position: 0 0;
    -moz-mask-position: 0 0;
    -o-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    -ms-mask-position: 100% 0;
    -moz-mask-position: 100% 0;
    -o-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes mask-playzero {
  from {
    -webkit-mask-position: 0 0;
    -ms-mask-position: 0 0;
    -moz-mask-position: 0 0;
    -o-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    -ms-mask-position: 100% 0;
    -moz-mask-position: 100% 0;
    -o-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
.scrolldown {
  height: 70px;
  position: fixed;
  width: 100%;
  bottom: 30px;
  margin: auto;
  z-index: 9999;
  text-align: center;
  color: white;
}
.scrolldown .icon-down {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: auto;
  position: relative;
  cursor: pointer;
  top: 0;
  transition: all ease-in 0.3s;
}
.scrolldown .icon-down:hover {
  top: 4px;
}
.scrolldown .icon-down::before {
  width: 16px;
  height: 2px;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 7px;
  transform: rotate(45deg);
}
.scrolldown .icon-down::after {
  width: 16px;
  height: 2px;
  background-color: black;
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 17px;
  transform: rotate(135deg);
}

.gotop {
  width: 100%;
  margin: 0;
  margin: auto;
  z-index: 9999;
  text-align: center;
  color: white;
  padding-top: 3rem;
  padding-bottom: 10px;
  font-size: 13px;
  cursor: pointer;
}
.gotop .icon-top {
  width: 30px;
  height: 25px;
  opacity: 0.6;
  margin: auto;
  position: relative;
  cursor: pointer;
  top: 0;
  transition: all ease-in 0.3s;
}
.gotop .icon-top:hover {
  top: 4px;
}
.gotop .icon-top::before {
  width: 12px;
  height: 2px;
  background-color: white;
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  transform: rotate(135deg);
}
.gotop .icon-top::after {
  width: 12px;
  height: 2px;
  background-color: white;
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 12px;
  transform: rotate(45deg);
}
.gotop.dark {
  color: black;
}
.gotop.dark .icon-top::before, .gotop.dark .icon-top::after {
  background-color: black;
}
.gotop.mobile-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .gotop.mobile-only {
    display: block;
  }
}
